* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  min-height: 100vh;
}

header {
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  color: black;
  letter-spacing: 5px;
  font-size: 1.5em;
}

.logo a {
  color: white;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  backdrop-filter: blur(10px);
  z-index: 99;
}

.nav-links span {
  font-style: italic;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1.2em;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 2px;
  background: black;
  margin: 7px;
  transition: all 500ms ease;
}

@media (min-width: 768px) {
  .nav-links a {
    color: black;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 250ms ease-in;
    backdrop-filter: blur(15px);
    background-color: rgb(0, 0, 0, 0.3);
  }

  .nav-links a {
    color: white;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 7.5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -7.5px);
}
