html {
  font-family: "Poppins", sans-serif;
}

.content-container {
  display: grid;
  grid-template-rows: 20vh 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-columns: 100%;
  grid-template-areas:
    "paragraph"
    "image"
    "image"
    "image"
    "image"
    "image"
    "image"
    "image"
    "image"
    "image";
}
