/* BACKGROUND */

body {
  background-image: url();
  background-size: cover;
}

@media (min-width: 500px) {
  body {
    background-image: url();
  }
}

/* BACKGROUND */

html {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 1.6em;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  line-height: 1.25em;
  margin: 0.5em 0;
}

img {
  display: block;
}

.work-container {
  height: calc(100vh - 18vh);
}

.content-container {
  height: 100%;
  padding: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tile {
  width: 30%;
  margin: 2.5%;
  position: relative;
}

.work-img {
  width: 100%;
  transition: 0.5s;
}

@media (min-width: 768px) {
  .tile {
    width: 10em;
    margin: 1%;
  }
}

@media (min-width: 992px) {
  .tile {
    width: 11em;
  }
}
